<div class="panel panel-default panel__fixed">
    <div class="panel-heading">
        <a href="dog/{{vm.dog.id}}/date/{{vm.date.prev}}" class="pull-left">
            <i class="fa fa-arrow-left" aria-hidden="true">{{vm.date.prev}}</i>
        </a>
        <a href="dog/{{vm.dog.id}}/edit" class="pull-left">
            {{vm.date.prev}}
        </a>
        <a href="dog/{{vm.dog.id}}/date/{{vm.date.prev}}" class="pull-left">
            <i class="fa fa-arrow-right" aria-hidden="true">{{vm.date.next}}</i>
        </a>
    </div>
    <div class="panel-body">
        
    </div>
</div>