<div class="panel panel-default panel__fixed">
	<div class="panel-heading">
		<h5 class="p-0 m-0">
			<a href="#!/dog/{{vm.dog.id}}/date/{{vm.date}}">{{vm.dog.name}}</a>
		</h5>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active" ng-repeat="chartType in vm.chartTypes">
				<a data-toggle="tab" ng-click="vm.setType(chartType)">{{chartType.label}}</a>
			</li>
		</ul>
		<div class="chart-container row">
			<div class="chart-container__nav left" ng-click="vm.prev()" ng-if="vm.hasPrev()">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
			</div>
			<div class="col-xs-12">
				<div id="linechart"></div>
			</div>
			<div class="chart-container__nav right" ng-click="vm.next()" ng-if="vm.hasNext()">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="chart-container__footer">
			{{vm.instructions}}
		</div>
		<div class="info-container">
			<div class="col-xs-12">
				<label>Current Weight:</label><br>
				{{vm.dog.current}}<br>
				<label>Goal Weight:</label><br>
				{{vm.dog.goal}}
			</div>
			<div class="gallery col-xs-12">
				<label>Gallery</label><br>
				<div class="gallery__thumbnail pull-left" ng-repeat="image in vm.images">
					<img ng-src="{{image.thumnail_url}}" alt="{{image.filename}}" class="img-thumbnail" />
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-offset-8 col-xs-2">
					<button class="btn btn-info" ng-click="vm.updateDog()"><i class="fa fa-pencil-o" aria-hidden="true"></i>Update</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-danger" ng-click="vm.confirmDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
