<div class="panel panel-default m-0">
    <ul class="pager full-width m-0">
        <li class="previous">
            <a class="col-md-4 l-align" href="#!/home">
                FitDoggy
            </a>
        </li>
    </ul>
    <div class="panel-body">
        <div class="col-md-6 full-height slideshow">
            This application is a work in progress. The application is intended to be a tracker, and does not make any dietary or exercise recommendations. Please use at your own disgression.
        </div>
    </div>
</div>
