<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" name="dogInfo" class="form__fixed">
            <div class="form-group row">
                <div class="thumbnail-container" ng-if="vm.log.image_url">
                    <img src="{{vm.log.image_url}}" />
                </div>
                <div class="thumbnail-container">
                    <input type="file" id="dogPhoto" class="input__hidden" ng-model="vm.log.image" />
                    <label for="dogPhoto">
                        <i class="fa fa-plus" aria-hidden="true"></i> 
                        <span ng-if="!vm.log.image_url">
                            Choose a picture
                        </span>
                        <span ng-if="vm.log.image_url">
                            Change the picture
                        </span>
                    </label>
                    <span class="btn btn-danger" ng-if="vm.log.image_url" ng-click="vm.deletePhoto()">
                        Remove
                    </span>
                </div>
            </div>    
            <div class="form-group">
                <label for="dogWeight" class="form-group__label">Current Weight</label>
                <div class="input-group col-xs-4">
                    <input type="number" class="form-control" id="dogWeight" ng-model="vm.log.weight" min="0">
                    <div class="input-group-addon">{{vm.dog.metric}}</div>
                </div>
            </div>

            <div class="form-group m-0" id="exercises">
                <label class="form-group__label">Exercise</label>
                <div class="row" id="exercise0">
                    <div class="col-xs-4">
                        <label>Activity</label>
                        <select class="select-primary select-block form-control" ng-model="vm.log.exercise[0].exerciseId">
                            <option value="" disabled selected>&nbsp;</option>
                            <option ng-repeat="exercise in vm.exercises" value="{{exercise.id}}">
                                {{exercise.name}}{{exercise.description ? ', ' + exercise.description : ''}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 p-l-0">
                        <label>Duration</label>
                        <div class="input-group">
                            <input type="number" class="form-control" ng-model="vm.log.exercise[0].duration" min="0">
                            <div class="input-group-addon">min</div>
                        </div>
                    </div>
                    <div class="col-xs-3 p-l-0">
                        <label>Intensity</label>
                        <div class="input-group-btn">
                            <select class="select-primary select-block form-control" ng-model="vm.log.exercise[0].intensity">
                                <option ng-repeat="intensity in vm.intensities">{{intensity}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1 p-l-0">
                        <label>&nbsp;</label>
                        <button class="form-control btn btn-primary" role="button" type="submit" ng-click="vm.deleteExercise(0)">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group__footer">
                    <a ng-click="vm.openActivityModal()" class="float-right">
                        Add Activity
                    </a> |
                    <a ng-click="vm.addExercise()">
                        Add Exercise
                    </a>
                </div>
            </div>
            <div class="form-group m-0" id="foods">
                <label class="form-group__label">Food</label>
                <div class="row" id="food0">
                    <div class="col-xs-7">
                        <label>Item</label>
                        <select class="select-primary select-block form-control" ng-model="vm.log.food[0].foodId">
                            <option value="" disabled selected>&nbsp;</option>
                            <option ng-repeat="food in vm.foods" value="{{food.id}}">
                                {{food.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 p-l-0">
                        <label>Amount</label>
                        <div class="input-group">
                            <input type="number" class="form-control" ng-model="vm.log.food[0].amount" min="0">
                            <div class="input-group-addon">oz</div>
                        </div>
                    </div>
                    <div class="col-xs-1 p-l-0">
                        <label>&nbsp;</label>
                        <button class="form-control btn btn-primary" role="button" type="submit" ng-click="vm.deleteFood(0)">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group__footer">
                    <a ng-click="vm.openFoodModal()" class="float-right">
                        Add Item
                    </a> | 
                    <a ng-click="vm.addFood()">
                        Add Food
                    </a>
                </div>
            </div>
            <div class="form-group col-xs-offset-4 col-xs-4">
                <button class="form-control btn btn-success" role="button" type="submit" ng-click="vm.addLog()">Submit</button>
            </div>
        </form>
    </div>
</div>