<div class="col-md-12 home-hero">
    <div class="home-hero__body">
        <h1>Welcome Back</h1>
        <h4 class="quotation__container col-md-12">
            <div class="icon">
                <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
            </div>
            <div class="quotation">
                <span>{{vm.quote.quote}}<br>--{{vm.quote.author}}</span>
            </div>
        </h4>
        <div class="home-pills">
            <div class="home-pill" ng-repeat="dog in vm.dogs">
                <a href="#!/dog/{{dog.id}}/date/{{vm.date}}">
                   {{dog.name}}
               </a>
           </div>
           <div class="home-pill">
                <a href="#!/dog/new">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add a new dog
                </a>
            </div>
        </div>
    </div>
</div>
<div class="home-content col-md-12">
    <div ng-if="vm.images.length">
        <h4 ng-if="vm.images.length > 0">Recently Added Photos</h4>
        <img class="thumbnail col-md-3" ng-repeat="image in vm.images" ng-src="{{image.thumbnailUrl}}" alt="{{image.imageFilename}}"/>
    </div>
    <h4 ng-if="vm.images.length === 0">No images yet...</h4>
</div>
