<div class="panel panel-default panel__fixed">
    <div class="panel-heading">
        <a href="dog/{{vm.dog.id}}/date/{{vm.date.prev}}" class="pull-left">
            <i class="fa fa-arrow-left" aria-hidden="true">
                Yesterday
            </i>
        </a>
        <a href="dog/{{vm.dog.id}}" class="pull-left">
            {{vm.dog.name}}
        </a>
        <a href="dog/{{vm.dog.id}}/date/{{vm.date.prev}}" class="pull-left">
            <i class="fa fa-arrow-right" aria-hidden="true">
                Tomorrow
            </i>
        </a>
    </div>
    <div class="panel-body">
        
    </div>
</div>