<button type="button" class="sidebar-toggle" ng-click="vm.toggle()" ng-class="vm.collapsed ? 'bg' : 'collapsed'">
    <span ng-if="vm.collapsed" >
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </span>
    <span ng-if="!vm.collapsed">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </span>
</button>
<div class="sidebar-collapse full-height" id="sidebar">
    <ul class="list-group full-height bg" ng-class="vm.collapsed ? 'collapse' : 'collapsed'">
        <li class="list-group-item list-group-item-header">
            <a ng-click="vm.expand(vm.dog)">{{vm.dog.name}}</a>
        </li>
        <li class="list-group-item" ng-if="vm.expanded[vm.dog.name]" ng-class="vm.activeTab(vm.dog.id, 'overview')">
            <a href="#!/dog/{{vm.dog.id}}">
                <i class="fa fa-list-alt" aria-hidden="true"></i> Overview
            </a>
        </li>
        <li class="list-group-item" ng-if="vm.expanded[vm.dog.name]" ng-class="vm.activeTab(vm.dog.id, 'log')">
            <a href="#!/dog/{{vm.dog.id}}/date/{{vm.today}}">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Log
            </a>
        </li>
        <li class="list-group-item" ng-if="vm.expanded[vm.dog.name]" ng-class="vm.activeTab(vm.dog.id, 'calendar')">
            <a href="#!/dog/{{vm.dog.id}}/calendar">
                <i class="fa fa-calendar" aria-hidden="true"></i> Calendar
            </a>
        </li>
        <li class="list-group-item">&nbsp;</li>
    </ul>
</div>
