<div class="panel panel-default m-0">
    <ul class="pager full-width m-0">
        <li class="previous">
            <a class="col-md-4 l-align" href="#!/home">
                FitDoggy
            </a>
        </li>
    </ul>
    <div class="panel-body">
        <form role="form" name="dogInfo" class="col-md-offset-3 col-md-6">
            <div class="row">
                <div class="form-group">
                    <div class="thumbnail-container full-height">
                        <div class="img-container">
                            <img ng-src="{{vm.dogData.imageUrl}}" alt="{{vm.dogData.imageFilename}}"/>
                        </div>
                    </div>
                    <div class="thumbnail-container__label">
                        <input type="file" id="dogPhoto" class="input__hidden" accept="{{vm.fileTypes}}" />
                        <label ng-class="vm.dogData.imageUrl ? 'col-md-6 r-align p-0' : 'placeholder'" for="dogPhoto">
                            <span ng-if="!vm.dogData.imageUrl">
                                <i class="fa fa-plus" aria-hidden="true"></i> 
                                 Choose a picture
                            </span>
                            <span ng-if="vm.dogData.imageUrl" class="text-info">
                                <i class="fa fa-refresh" aria-hidden="true"></i> Change 
                            </span>
                        </label>
                        <span ng-if="vm.dogData.imageUrl" class="col-md-6 text-danger image__delete p-0" ng-click="vm.deletePhoto()">
                            &nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i> Remove
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="dogName">Name</label>
                    <input class="form-control" type="text" id="dogName" placeholder="Enter your dog's name" ng-model="vm.dogData.name" ng-change="vm.warning.name=false" />
                    <span class="text-danger" ng-if="vm.warning.name">Please enter your dog's name</span>
                </div>
                <div class="form-group">
                    <label for="dogBreed">Breed</label>
                    <input class="form-control" type="text" id="dogBreed" placeholder="Enter your dog's breed" ng-model="vm.dogData.breed" />
                </div>
                <div class="form-group">
                    <label for="dogBday">Birthday</label>
                    <input class="form-control" type="date" id="dogBday" ng-model="vm.dogData.birthdate" ng-change="vm.warning.birthday=false" />
                    <span class="text-danger" ng-if="vm.warning.birthday">Please enter your dog's birthday</span>
                </div>
                <div class="form-group">
                    <label for="dogCurrent">Current Weight</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control " type="number" id="dogCurrent" ng-model="vm.dogData.current" ng-change=" vm.warning.current=false" />
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="vm.dogData.metric" >
                                <option value="kg">kg</option>
                                <option value="lb">lb</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-danger" ng-if="vm.warning.current">Please enter your dog's current weight</div>
                </div>
                <div class="form-group">
                    <label for="dogGoal">Goal Weight</label>
                    <div class="input-group">
                        <input class="form-control" type="number" id="dogGoal" ng-model="vm.dogData.goal" ng-change="vm.warning.goal=false"/>
                        <div class="input-group-addon">{{vm.dogData.metric}}</div>
                    </div>
                    <div class="text-danger" ng-if="vm.warning.goal">
                        Please enter your dog's goal weight
                    </div>
                </div>
                <div class="form-group col-md-offset-2 col-md-4">
                    <button class="form-control btn btn-secondary" role="button" type="submit" ng-click="vm.cancelChanges()">Cancel</button>
                </div>
                <div class="col-md-4">
                    <button class="form-control btn btn-primary" role="button" type="submit" ng-click="vm.updateDog()">Submit</button>
                </div>
            </div>


        </form>
    </div>
</div>