<!DOCTYPE html>
<html lang="en">
<head>
	<title>Puppers</title>
	<link type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/static/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link type="text/css" href="/static/node_modules/highcharts/css/highcharts.css" rel="stylesheet" />
	<link type="text/css" href="/static/node_modules/flat-ui/css/flat-ui.css" rel="stylesheet" />	
	<link type="text/css" href="/static/css/app/app.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/modifiers.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/footer.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/user_login.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/log.css" rel="stylesheet" />
	<script data-main="/static/js/main.js" src="/static/node_modules/requirejs/require.js"></script>
	<base href="/"/>
</head>
<body>
    <div class="panel-container col-lg-6 col-lg-offset-3">
		<div class="container__fixed" ng-view></div>
    </div>
    <div class="container__footer">
		<div footer-menu class="menu-container"></div>
	</div>
</body>
</html>
