<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dogs App</title>
	<link type="text/css" href="static/css/bootstrap/css/bootstrap.min.css" 
		rel="stylesheet" />
	<link type="text/css" href="static/css/bootstrap/css/bootstrap-theme.min.css" 
		rel="stylesheet" />
	<link type="text/css" href="static/css/font-awesome/css/font-awesome.css" 
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link type="text/css" href="/static/css/app/app.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/modifiers.css" rel="stylesheet" />
	<script data-main="/static/js/main.js" src="/static/node_modules/requirejs/require.js"></script>
</head>
<body>
<div class="container container__padded">
    <div ng-view></div>
</div>
</body>
</html>
