<!DOCTYPE html>
<html lang="en">
<head>
	<title>Puppers</title>
	<link type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/static/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link type="text/css" href="/static/node_modules/highcharts/css/highcharts.css" rel="stylesheet" />
	<link type="text/css" href="/static/node_modules/flat-ui/css/flat-ui.css" rel="stylesheet" />	
	<link type="text/css" href="/static/css/app/app.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/home.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/log.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/modifiers.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/navigation.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/app/user_login.css" rel="stylesheet" />
	<script data-main="/static/js/main.js" src="/static/node_modules/requirejs/require.js"></script>
	<base href="/"/>
</head>
<body>
	<div nav-bar data-dog="selectedDog"></div>
	<div ng-if="!selectedDog" class="full-height container-home" ng-view></div>
	<div ng-if="selectedDog" class="full-height">
        <div class="container-body full-height">
	        <div side-bar data-dog="selectedDog" class="sidebar full-height pull-left p-0"></div>
        	<div ng-view class="content full-height pull-none"></div>
        </div>
	</div>
</body>
</html>
