.panel-container {
    padding: 15px 0;
    overflow: auto;
    height: 100%!important;
}
.container__fixed {
	max-width: 650px;
	margin: auto;
}
.panel__fixed {
	position: relative;
	margin: 50px auto;
}
.form__fixed {
	margin: auto;
}
.form-group__label {
	font-size: 16px;
	font-weight: 600;
}
.form-group__inline {
	height: 36px;
}
.form-group label {
	margin: 0;
}
.form-group__footer {
	text-align: right;
}
.form-group__icon__link {
	padding-left: 10px;
}

.nav-pills__pill__outlined {
	border-radius: 4px;
	border: 1px solid #2C3E50;
}
.nav-pills>li>a{
	color: #2C3E50;
	border-radius: 4px;
	text-align: center;
}

.thumbnail-container {	
	font-size: large;
	height: 350px; 
	position: relative;
    width: 350px;
    margin: auto;
}
.thumbnail-container__label {
	width: 350px;
    margin: auto;
}
.img-container img {
	position: relative;
	display: block;
	margin: auto;
	max-width: 350px;
	max-height: 350px;
}
.input__hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input__hidden + label,
.image__delete {
    font-size: 1.2rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.input__hidden + label.placeholder {
    background-color: #f5f5f5;
    color: #495259;
    width: 100%;
    height: 350px;
    text-align: center;
    line-height: 350px;
}
.chart-container {
	height: 400px;
	position: relative;
}
.chart-container__nav {
    z-index: 5;
    width: 100px;
    height: 100%;
    position: absolute; 
    top: 0px;
    padding: 15px;
    line-height: 400px
}
.chart-container__nav.left {
    text-align: left;
    left: 0px;
}
.chart-container__nav.right {
    text-align: right;
    right: 0px;
}
.chart-container__nav:hover {
    opacity: 0.2;
    background-color: #fff;
}
.chart-container__footer {
	text-align: right;
	color: #999;
}
.thumbnail-container .chart-container__nav {
	line-height: 350px
	text-align: center;
	color: #999;
}
.pager {
	border-radius: 4px;
	background-color: #3498DB;
}
.pager li>a {
	border-left: 2px solid #3498DB;
}
.pager li>a:hover,
.pager li>a:active {
	background-color: #2980B9;
}
.panel-body {
	background-color: white;
}
.gallery__thumbnail {
	max-height: 200px;
    max-width: 25%;
    display: inline-block;
    overflow: hidden;
}
.notification {
    width: 250px;
    opacity: 0.5;
    display: block;
    position: absolute;
    padding: 15px;
    margin: 5px;
    font-size: larger;
    font-weight: bold;
    border-radius: 2px;
}
.notification.top {
    top: 0;
}
.notification.right {
    right: 0;
}
.notification.bottom {
    bottom: 0;
}
.notification.left {
    left: 0;
}
.notification.info {
    background-color: #3498DB;
    color: #2C3E50;
}
.notification.error {
    background-color: #E74C3C;
}
