.form__fixed {
	margin: auto;
}
.form-group__label {
	font-size: 16px;
	font-weight: 600;
}
.form-group__inline {
	height: 36px;
}
.form-group label {
	margin: 0;
}
.form-group__footer {
	text-align: right;
}
.form-group__icon__link {
	padding-left: 10px;
}

.thumbnail-container {	
	font-size: large;
	height: 100%; 
	position: relative;
    width: 100%;
    margin: auto;
}
.thumbnail-container__label {
	width: 350px;
    margin: auto;
}
.img-container img {
	position: relative;
	display: block;
	margin: auto;
	max-width: 100%;
    max-height: 350px;
    overflow: auto;
}
.input__hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input__hidden + label,
.image__delete {
    font-size: 1.2rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.input__hidden + label.placeholder {
    background-color: #f5f5f5;
    color: #495259;
    width: 350px;
    text-align: center;
    line-height: 350px;
    margin: auto;
    display: block;
}
.chart-container {
	height: 50%;
	position: relative;
}
.chart-container__nav {
    z-index: 5;
    width: 10%;
    height: 100%;
    position: absolute; 
    top: 50%;
    padding: 15px;
    color: #999;
}
.chart-container__nav.left {
    text-align: left;
    left: 0px;
}
.chart-container__nav.right {
    text-align: right;
    right: 0px;
}
.chart-container__footer {
	text-align: right;
	color: #999;
}
.thumbnail-container .chart-container__nav {
	line-height: 350px
	text-align: center;
	color: #999;
}
.gallery__thumbnail {
	max-height: 200px;
    max-width: 25%;
    display: inline-block;
    overflow: hidden;
}
.notification {
    width: 250px;
    opacity: 0.75;
    display: block;
    position: absolute;
    padding: 15px;
    margin: 5px;
    font-size: larger;
    font-weight: bold;
    border-radius: 2px;
}
.notification.top {
    top: 0;
}
.notification.right {
    right: 0;
}
.notification.bottom {
    bottom: 0;
}
.notification.left {
    left: 0;
}
.notification.info {
    background-color: #4392F1;
    color: #FEFFFE;
}
.notification.error {
    background-color: #D6878B;
    color: #FEFFFE;
}
.container-body {
    border-left: 1px solid rgba(0,0,0,0.14) !important;
    overflow: auto;
}
.container-body .content {
    padding: 65px 15px 15px 15px;
    margin-top: -50px;
    overflow: auto;
}
.lightbox img {
    margin: auto;
    display: block;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container-body.container {
        width: 100%!important;
    }
}
