.container__footer {
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
}
.menu-container .menu {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
    min-height: 50px;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url("/static/img/pawprint.png");
}
.menu-container .menu.minimized {
    transition: all 0.3s ease-in-out;
    background-size: 50px;
}
.menu-container .menu.minimized:hover,
.menu-container .menu.expanded  {
    transition: all 0.3s ease-in-out;
    transform: scale(5);
}
.menu-container .full-menu {
    z-index: 15;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
}
.menu-container a:hover {
    text-decoration: underline;
}
.menu-container text {
    font-size: large;
    fill: #1D2B4F;
}
