#exercise td,
#food td {
    vertical-align: middle!important;
}
#log .form-control {
    height: 30px;
    padding: 2px 8px;
}
#exercise .input-group-addon,
#food .input-group-addon {
    padding: 5px 12px;
}
.info-summary {
    margin-bottom: 15px;
    border-bottom: 2px dashed #1D2B4F;
}
.img-container {
    overflow: hidden;
    width: 100%;
}
.thumbnail-container {
    height: 475px;
}