html {
	height: 100%;
}
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
label {
	line-height: 1.9;
}
a {
	color: #4392F1;
	cursor: pointer;
}
a:hover {
	color: #1ABC9C;
	text-decoration: underline;
}
form {
	background-color: #FEFFFE;
}
.bg {
	background: #4392F1;
    background: -webkit-linear-gradient(to right, #4392F1, #1ABC9C);
    background: linear-gradient(to right, #4392F1, #1ABC9C);
}
.no-bg {
	background: none;
	background-color: transparent;
	border: none;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-l-0 {
	padding-left: 0;
}
.p-r-0 {
	padding-right: 0;
}
.p-r-15 {
	padding-right: 15px;
}
.m-0 {
	margin: 0;
}
.pull-left {
	float: left!important;
}
.pull-right {
	float: right!important;
}
.pull-none {
	float: none!important;
}
.no-border {
	border: none;
}
.clear {
	clear: both;
}
.l-align {
	text-align: left;
}
.r-align {
	text-align: right;
}
.c-align {
	text-align: center;
}
.full-height {
	height: 100%!important;
}
.full-width {
	width: 100%!important;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.hidden {
	display: none;
}
.fixed {
	position: fixed!important;
}
.text-success {
	color: #1ABC9C;
}