.home-nav__inverted,
.home-nav {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
    border-radius: 0!important;
}
.home-nav__fixed {
    position: fixed;
}
.home-nav__inverted {
    background-color: #FEFFFE;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14);
}
.home-nav__inverted a,
.home-nav a {
    font-size: 14px!important;
    text-transform: uppercase!important;
    font-weight: 500!important;
    letter-spacing: 1px!important;
    text-align: left!important;
    line-height: 50px!important;
    padding: 0 5px!important;
}
.home-nav__inverted a {
    color: #4392F1!important;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active {
    text-decoration: underline;
}
.home-nav a,
.home-nav a:hover,
.home-nav a:active {
    color: #FEFFFE !important;
}
.list-group-item {
    border: 0;
    background-color: transparent;
}
.list-group-item a {
    padding-left: 15px;
    color: #FEFFFE;
}
.list-group-item.active,
.list-group-item.active:active,
.list-group-item.active:hover {
    background-color: #FEFFFE;
    border: none;
}
.list-group-item.active a {
    color: #4392F1;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
}
.list-group-item-header a {
    font-size: larger;
    padding: 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.list-group-item:last-child,
.list-group-item:first-child {
    border-radius: 0!important;
}
.list-group-item:last-child {
    height: 100%;
}
.sidebar-toggle {
    float: left;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    top: 50%;
    right: 0;
    color: #FEFFFE;
    z-index: 50;
}
.sidebar-toggle.collapsed {
    display: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-collapse .list-group {
        display: none;
    }
    .sidebar-collapse .list-group.collapse {
        display: block;
    }
    .sidebar-toggle.collapsed {
        display: block;
        text: #4392F1;
        position: relative;
        top: 50%;
    }
}