.home-nav__inverted,
.home-nav {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
    border-radius: 0!important;
}
.home-nav__fixed {
    position: fixed;
}
.home-nav__inverted {
    background-color: #FEFFFE;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14);
}
.home-nav__inverted a,
.home-nav a {
    font-size: 14px!important;
    text-transform: uppercase!important;
    font-weight: 500!important;
    letter-spacing: 1px!important;
    text-align: left!important;
    line-height: 50px!important;
    padding: 0 5px!important;
}
.home-nav__inverted a {
    color: #4392F1!important;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active {
    text-decoration: underline;
}
.home-nav a,
.home-nav a:hover,
.home-nav a:active {
    color: #FEFFFE !important;
}
.list-group-item {
    text-align: center;
    border: 0;
    background-color: transparent;
    width: 150px;
}
.list-group-item a {
    color: #FEFFFE;
}
.list-group-item.active,
.list-group-item.active:active,
.list-group-item.active:hover {
    background-color: #FEFFFE;
    border: none;
}
.list-group-item.active a {
    color: #4392F1;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
}
.list-group-item-header a {
    font-size: larger;
    padding: 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.list-group-item:last-child,
.list-group-item:first-child {
    border-radius: 0!important;
}
.list-group-item:first-child {
    border-bottom: 1px solid #FEFFFE;
}
.list-group-item:first-child a:hover {
    text-decoration: none!important;
}
.list-group-item:last-child {
    height: 100%;
}
.sidebar {
    position: relative;
    left: 0;
    z-index: 50;
    float: left;
}
.sidebar-toggle {
    padding: 9px 10px;
    border-radius: 4px;
    position: fixed;
    border: none;
    top: 50%;
    color: #FEFFFE;
    z-index: 50;
    line-height: 50px;
}
.sidebar-toggle.collapsed {
    background-color: transparent;
    left: 125px;
}
.sidebar-collapse .list-group {
    animation-name: toggleSidebar;
    animation-duration: 0.3s;
}
.sidebar-collapse .list-group.collapse {
    animation-direction: reverse;
}
@keyframes toggleSidebar {
    from {
        transform: translateX(-150px);
    }
    to {
        transform: translateX(0);
    }
}