.user_login {
    padding: 0!important;
    top: 50%;
    transform: translate(0, -50%);
}
.user_login .nav>li.active>a,
.user_login .nav>li.active>a:hover {
    background-color: #FEFFFE;
    border: none; 
}

.user_login .nav>li>a {
    background-color: #eee;
    border: none; 
}
.user_login .form-control {
    margin: 15px 0;
}
